@model IEnumerable<Game>

@{
    ViewData["Title"] = "Game Catalog";
}

@if (TempData["Message"] != null) {
    <br />
    <div class="alert alert-success alert-dismissable fade show" role="alert">
        @TempData["Message"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <br />
    <div class="alert alert-warning alert-dismissable fade show" role="alert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
    </div>
}

<h1>Game Catalog</h1>

<p>
    <a asp-action="Create" asp-controller="Games">Create New</a>
</p>
<table class="table bg-dark text-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (Game item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td align="right">
                <a class="btn btn-success" asp-controller="Cart" asp-action="Add" asp-route-id="@item.Id">Add to Cart</a>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
